.contact-section {
  box-sizing: border-box;
}

.contact {
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $accent-color;
  -webkit-box-shadow: 0 0 0px 1000px #2d2d2d inset;
  box-shadow: 0 0 0px 1000px #2d2d2d inset;
  transition: background-color 5000s ease-in-out 0s;
}

.contact_form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 30rem;
  width: 100%;

  &_group {
    display: flex;
    align-items: center;

    input {
      flex: 1;
      width: 100%;
    }
  }

  &_input {
    font-size: 1rem;
    max-height: 5rem;
    margin-bottom: .5rem;
    padding: .8rem .7rem .5rem;
    background-color: #2d2d2d;
    border: none;
    resize: none;

    &::placeholder {
      font-size: 1rem;
    }

    &-email {
      margin-left: .5rem;
    }
  }

  &_send-block {
    display: flex;
    justify-content: space-between;

    p, a {
      font-size: .8rem;
      letter-spacing: 1px;
    }
    p {
      width: 40%;
      line-height: 1;
    }

    button {
      padding: .6rem 1rem .4rem;
      background: transparent;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.contact_map {
  display: flex;
  max-width: 40rem;
  width: 50%;
  height: 100%;
  margin-left: .5rem;

  a {
    font-size: .7rem;
  }

  &_img {
    width: 30px;
    position: relative;
    left: -15px;
    top: -30px;
    filter: invert(78%) sepia(98%) saturate(718%) hue-rotate(95deg) brightness(101%) contrast(98%);
  }
}
@media (max-width: 1023px) {
  .contact_form {
    padding: 0 1rem;
  }
}
@media (max-width: 830px) {
  .contact {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contact_form {
    height: 60%;
    justify-content: center;
    margin: 0;
    &_group {
      flex-direction: column;
      input {
        flex: none;
      }
    }
    &_input {
      &-email {
        margin-left: 0;
      }
    }
  }

  .contact_map {
    display: flex;
    max-width: none;
    width: 100%;
    height: 40%;
    margin-left: 0;
  }
}
@media (max-width: 425px) {
  .contact_form {
    padding-bottom: 1rem;
    justify-content: flex-end;
  }
}
@media (max-width: 374px) {
  .contact_form {
    .section_heading {
      text-align: center;
    }
    p {
      display: none;
    }
  }
}
@media (max-height: 666px) {
  .contact {
    justify-content: center;
  }
  .contact_form {
    height: 100%;
    padding-bottom: 0;
    justify-content: center;
  }
  .contact_map {
    display: none;
  }
}