@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
  font-family: 'Coolvetica';
  src: local('Coolvetica'), url(../fonts/Coolvetica/CoolveticaRg-Regular.woff2) format('woff2'),
        url(../fonts/Coolvetica/CoolveticaRg-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre'), url(../fonts/Calibre/Calibre-Regular.woff2) format('woff2'),
        url(../fonts/Calibre/Calibre-Regular.ttf) format('truetype')
}