.footer {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4rem 0;
  
  &_contacts {
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    &_item{
      outline: none;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: greenyellow;
      }
    }
  }
}