.intro-section {
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
.intro {
  height: 100%;
  position: static;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  &_header{
    font-size: 6.3rem;
    font-weight: normal;
    line-height: $intro-header_line-height;
    position: absolute;
    left: $main-menu_width;
    margin: 0 0 0 3rem;

    &_first-line {
      top: $intro-header_margin-top;
      padding-top: 1rem;
      z-index: 3;
      white-space: nowrap;
    }
    &_second-line {
      top: calc(#{$intro-header_margin-top} + #{$intro-header_line-height} + .2rem);
      z-index: 2;
      white-space: nowrap;
    }
    &_third-line {
      top: calc(#{$intro-header_margin-top} + #{$intro-header_line-height * 2} - .5rem);
      padding: 0 1rem 1rem 0;
      z-index: 1;
      white-space: nowrap;

      overflow: hidden;
    }

    &_letter {
      cursor: default;
      animation-fill-mode: both;
      animation-iteration-count: 1;

      &-default {
        animation-duration: 1s;
      }
      &-default:hover {
        color: $accent-color;
        animation-name: rubberBand;
      }

      &-main {
        width: 4.5rem;
        height: 4.5rem;
        margin-right: .1rem;
        background-image: url('../images/A-letter.png');
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        animation-duration: .6s;
      }
      &-main:hover {
        animation-name: letterRotation;
      }

    }
  }

  &_text {
    margin-left: 3rem;
    font-size: 0.8rem;
    background-color: #1d1d1d;
    position: absolute;
    top: calc(#{$intro-header_margin-top} + #{$intro-header_line-height * 3} + .5rem);
    left: $main-menu_width;
  }
  &_contact {
    margin-left: 3rem;
    position: absolute;
    top: calc(#{$intro-header_margin-top} + #{$intro-header_line-height * 3} + 2.5rem);
    left: $main-menu_width;
  }
  &_contact-button {
    width: max-content;
    background-color: #1d1d1d;
    padding: .7rem 1.4rem .5rem;
  }

  &_board{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
  }

  &_scroll-down {
    background-color: $background_color;
    position: absolute;
    bottom: 1rem;
    margin: 0 auto;
    cursor: pointer;
    img {
      width: 6rem;
      height: auto;
      -webkit-animation: rotation 13s infinite linear;
      animation: rotation 13s infinite linear;
    }
    span::after {
      opacity: 0;
      position: absolute;
      top: 30%;
      left: 36.5%;
      content: '';
      width: 26px;
      height: 26px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      box-sizing: border-box;

      transition: opacity .5s ease;
    }

    &:hover span::after {
      opacity: 1;
    }
  }
}

@media (max-width: 767px) {
  .intro {
    &_header {
      font-size: 4rem;
      margin: 0 0 0 8%;
      left: 0;

      &_first-line {
        top: $intro-header_margin-top--md;
      }
      &_second-line {
        top: calc(#{$intro-header_margin-top--md} + #{$intro-header_line-height--md} + .2rem);
      }
      &_third-line {
        top: calc(#{$intro-header_margin-top--md} + #{$intro-header_line-height--md * 2} - .5rem);
      }

      &_letter-main {
        width: 4rem;
        height: 4rem;
      }
    }

    &_text {
      top: calc(#{$intro-header_margin-top--md} + #{$intro-header_line-height--md * 3} + 1rem);
      margin-left: 8%;
      left: 0;
    }
    &_contact {
      margin-left: 8%;
      top: calc(#{$intro-header_margin-top--md} + #{$intro-header_line-height--md * 3} + 3rem);
      left: 0;
    }

    &_board{
      max-height: 89vh;
      align-self: flex-end;
    }
  }
}
@media (max-width: 425px) {
  .intro {
    &_header {
      font-size: 3rem;

      &_first-line {
        top: $intro-header_margin-top--md;
      }
      &_second-line {
        top: calc(#{$intro-header_margin-top--md} + #{$intro-header_line-height--sm} + .2rem);
      }
      &_third-line {
        top: calc(#{$intro-header_margin-top--md} + #{$intro-header_line-height--sm * 2} - .5rem);
      }

      &_letter-main {
        width: 3rem;
        height: 3rem;
      }
    }

    &_text {
      top: calc(#{$intro-header_margin-top--md} + #{$intro-header_line-height--sm * 3} + 2rem);
      margin-left: 8%;
    }
    &_contact {
      margin-left: 8%;
      top: calc(#{$intro-header_margin-top--md} + #{$intro-header_line-height--sm * 3} + 4rem);
    }
  }
}
@media (max-width: 374px) {
  .intro {
    &_header {
      font-size: 2.5rem;

      &_letter-main {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

@-webkit-keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

// @-webkit-keyframes letterRotation {
//   from {
//     -webkit-transform: rotate(0deg);
//   }
//   to {
//     -webkit-transform: rotate(360deg);
//   }
// }
@keyframes letterRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.square {
  width: 1rem;
  height: 1rem;
  background-color: #1d1d1d;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.display {
  display: inline-block;
}


[data-aos="letter-animation"] {
  transform: rotate(360deg);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: rotate(0);
    opacity: 1;
  }
}