.main-menu {
  width: 100%;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  max-width: $main-menu_width;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left .3s ease;

  &_burger {
    width: 3rem;
    height: 3rem;
    background-color: $background_color;
    border: 1px solid $accent-color;
    border-radius: 50%;

    position: absolute;
    z-index: 11;
    right: -4rem;
    top: 1rem;

    display: none;
    justify-content: center;
    align-items: center;

    &-background {
      width: 100vw;
      min-height: 100vh;
      /* mobile viewport bug fix */
      min-height: -webkit-fill-available;
      background-color: rgba(#000, .7);
      position: absolute;
      z-index: 10;
      right: -100vw;
      top: 0;

      display: none;
    }

    span {
      width: 1.5rem;
      height: 2px;
      background-color: $accent-color;
      position: absolute;
      transition: background-color .2s ease;
    }
    span::after, span::before {
      content: "";
      width: 1.5rem;
      height: 2px;
      background-color: $accent-color;
      position: absolute;
      z-index: 3;
      border-radius: 16px;
      transform: rotate(0);
      transition: all .3s ease;
    }
    span::before {
      bottom: .5rem;
    }
    span::after {
      top: .5rem;
    }
  }

  &_top {
    width: 100%;
    padding: 2rem;
    background-color: #000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    &_img {
      width: 5rem;
      height: 5rem;
      background-image: url('../images/logo.jpg');
      background-size: cover;
      background-position-x: right;
      border-radius: 50%;
    }
  }

  &_navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;

    &_item {
      width: 100%;
      padding: 1rem;
      font-size: .8rem;
      box-sizing: border-box;
      text-decoration: none;
      color: inherit;
      border-top: 1px solid #2d2d2d;
      text-align: center;
      text-transform: uppercase;
      transition: color .1s;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      svg {
        filter: invert(99%) sepia(1%) saturate(533%) hue-rotate(5deg) brightness(115%) contrast(100%);
        width: 1.2rem;
        height: 1.3rem;
        transition: all 0.2s ease-out 0s;
      }

      p {
        text-transform: uppercase;
        position: absolute;
        text-align: center;
        opacity: 0;
        letter-spacing: 1px;
        transition: all 0.4s ease-out 0s;
        font-size: .8rem;
      }

      &:last-child {
        border-bottom: 1px solid #2d2d2d;
      }

      &:hover {
        background-color: #2d2d2d;
        color: $accent-color;
      }
      &:hover svg {
        filter: invert(61%) sepia(98%) saturate(304%) hue-rotate(152deg) brightness(92%) contrast(92%);
        opacity: 0;
      }
      &:hover p {
        opacity: 1;
      }
    }
  }

  &_links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: 1rem;
    left: 0;

    &_item {
      margin-bottom: .5rem;

      p {
        display: none;
      }
    }

    .hexagon {
      position: relative;
      width: 20px; 
      height: 11.55px;
      background-color: #2d2d2d;
      margin: 5.77px 0;
      transition: background-color .3s ease;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 11px;
        height: 11px;
      }
    }

    .hexagon.instagram-link svg {
        width: 13px;
        height: 13px;
    }
    
    .hexagon:before,
    .hexagon:after {
      content: "";
      position: absolute;
      width: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      transition: border-color .3s ease;
    }
    .hexagon:before {
      bottom: 100%;
      border-bottom: 5.77px solid #2d2d2d;
    }
    .hexagon:after {
      top: 100%;
      width: 0;
      border-top: 5.77px solid #2d2d2d;
    }

    .hexagon.github-link:hover {
      background-color: $violet-color;
      &:before {
        border-bottom-color: $violet-color;
      }
      &:after {
        border-top-color: $violet-color;
      }
    }
    .hexagon.linkedin-link:hover {
      background-color: #5390D9;
      &:before {
        border-bottom-color: #5390D9;
      }
      &:after {
        border-top-color: #5390D9;
      }
    }
    .hexagon.instagram-link:hover {
      background-color: $accent-color;
      &:before {
        border-bottom-color: $accent-color;
      }
      &:after {
        border-top-color: $accent-color;
      }
    }
  }
}

@media (max-width: 767px) {
  .main-menu {
    left: -8rem;
    max-width: 8rem;

    &_burger {
      display: flex;
    }

    &--active {
      left: 0;

      .main-menu_burger {
        span {
          background-color: transparent;
        }
        span::before {
          transform: rotate(-45deg);
          bottom: 0;
        }
        span::after {
          transform: rotate(45deg);
          top: 0;
        }
      }

      .main-menu_burger-background {
        display: block;
      }
    }

    &_navigation {
      margin-top: 0;
    }

    &_links {
      // align-items: flex-start;
      flex-direction: row;
      &_item {
        margin: .35rem 0 .35rem 1rem;

        a {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
        }
      }

      .hexagon.github-link {
        background-color: $violet-color;
        &:before {
          border-bottom-color: $violet-color;
        }
        &:after {
          border-top-color: $violet-color;
        }
      }
      .hexagon.linkedin-link {
        background-color: #5390D9;
        &:before {
          border-bottom-color: #5390D9;
        }
        &:after {
          border-top-color: #5390D9;
        }
      }
      .hexagon.instagram-link {
        background-color: $accent-color;
        &:before {
          border-bottom-color: $accent-color;
        }
        &:after {
          border-top-color: $accent-color;
        }
      }
    }
  }
}
@media (max-width: 374px) {
  .main-menu {

    &_top {
      padding: 1rem 2rem;
    }
  }
}
