.portfolio-section {
  padding: 2rem 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio_heading {
  max-width: 30rem;
  text-align: justify;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.project-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  &_item {
    width: 25%;
    height: 15rem;
    position: relative;
    background-color: black;

    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      display: block;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    &_img.hb {
      background-color: #2f54eb;
      object-fit: contain;
      padding: 0 2rem;
    }
    &_img.indiepub {
      background-color: #171717;
      object-fit: contain;
      padding: 0 2rem;
    }

    &_description {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;

      h1 {
        font-size: 2rem;
        letter-spacing: 2px;
        line-height: 100%;
      }
    }

    &:hover &_img {
      opacity: 0.3;
    }
    &:hover &_description {
      opacity: 1;
    }
  }
}

@media (max-width: 830px) {
  .portfolio-section {
    padding: 0;
  }
  .portfolio {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_heading {
      margin: 0;
      width: 100%;
      max-width: 30rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .project-cards {
    &_item {
      width: 50%;
    }
  }
}

@media (max-width: 767px) {
  .portfolio {
    &_heading {
      margin: 0 auto;
    }
  }
}
@media (max-width: 425px) {
  .portfolio {
    justify-content: flex-end;
    
    &_heading {
      height: auto;
      margin-bottom: 2rem;
    }
  }
  .project-cards {
    &_item {
      height: 11rem;
    }
  }
}
@media (max-width: 374px) {
  .portfolio {
    &_heading {
      margin-bottom: 1rem;
    }
  }
  .project-cards {
    &_item {
      height: 9rem;
    }
  }
}