.portfolio-section {
  padding: 2rem 0;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio_heading {
  max-width: 30rem;
  text-align: justify;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

// .project-cards_link {
//   display: block;
//   width: fit-content;
// }

.project-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &_item {
    width: 25%;
    height: 15rem;
    position: relative;
    // padding-top: 100%;

    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      display: block;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    &_description {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    &:hover &_img {
      opacity: 0.3;
    }
    &:hover &_description {
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .portfolio-section {
    padding: 0;
  }
  .portfolio {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_heading {
      margin: 0;
      width: 100%;
      max-width: 30rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .project-cards {

    &_item {
      width: 50%;
    }
  }
}