.portfolio {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  &_heading {
    max-width: 30rem;
    text-align: justify;
    padding: 0 1rem;
    margin-bottom: 2rem;

    p {
      font-style: italic;
    }
  }
}

// .project-cards_link {
//   display: block;
//   width: fit-content;
// }

.project-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &_item {
    width: 25%;
    height: 18rem;
    position: relative;
    // padding-top: 100%;

    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      display: block;
      transition: .5s ease;
      backface-visibility: hidden;
    }

    &_description {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    &:hover &_img {
      opacity: 0.3;
    }
    &:hover &_description {
      opacity: 1;
    }
  }
}