$background_color: #1d1d1d;
$main_text-color: #DDDDDD;
$accent-color: #08fdd8;
$violet-color: #7400B8;

$main-font: 'Calibre', sans-serif;
// $main-font: 'Roboto', sans-serif;

$main-menu_width: 6rem;

$intro-header_line-height: 6.7rem;
$intro-header_line-height--md: 4.5rem;
$intro-header_line-height--sm: 3.5rem;
$intro-header_margin-top: 25%;
$intro-header_margin-top--md: 20%;