@import '~normalize.css';
@import 'fonts';
@import 'variables';
@import 'main-menu';
@import 'intro';
@import 'about';
@import 'skills';
@import 'portfolio';
@import 'footer';

* {
  outline: none;
  text-decoration: none;
  color: inherit;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: $background_color;
  color: $main_color;
  padding-left: $main-menu_width;
  display: block;
  min-width: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section-heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
